<div class='container'>
    <div>
        <h1 id="room-name-name"> {{ group.name }}</h1>
        <h6 style="color: white; font-weight: 100;" id="user-name"> {{ group.userName }}</h6>
        <h1 id="room-name" style="display: none;">{{ group.room }}</h1>
    </div>
    <div class='chatbox'>
        {{> users_in_room }}

        {{> messages }}

        <div id="user_is_typing" style="font-style: italic; font-size: 12px;font-weight: 900;"></div>
        <form id="chat-form">
            <input type="text" placeholder="Type Message" id="msg">
        </form>
    </div>
</div>