<div class="ui modal small login">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">
    <div class="ui approve button">Approve</div>
    <div class="ui button">Neutral</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<div class="ui modal small register">
  <div class="header">Header</div>
  <div class="content">
    <p></p>
  </div>
  <div class="actions">
    <div class="ui approve button">Approve</div>
    <div class="ui button">Neutral</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

<script>
    function showLoginForm() {
        $('.tiny.modal.login').modal('show');
    }

    function showRegistrationForm() {
        $('.tiny.modal.register').modal('show');
    }
</script>