<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="Group Listening"
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#ffffff" />
    <title>{{ pageTitle }}</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/public/css/semantic-style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body id="root" style="background-image: url('/public/images/bg.jpg');">
    <div class="ui inverted vertical center aligned segment">
      <nav class="ui container">
        <a href="/" class="ui inverted header">Group Listening</a>
        <div class="ui borderless inverted compact menu">
          

          {{#if (ifEquals isLoggedIn false)}}
            <a class="active item nav-items " href="#home">Home</a> 
            <a class="item nav-items" href="#features">Feature</a>
            <a class="item nav-items" href="#contact">Contact</a>
          {{/if}}

          {{#if (ifEquals isLoggedIn true)}}
            <a class="item" href="/user">Dashboard</a>
            <a class="item" href="/user/logout">Logout</a>
          {{/if}}
          
        </div>
      </nav>

      {{{ body }}}

      <footer class="ui inverted vertical segment">
        {{!-- Cover template for <a href="http://semantic-ui.com">Semantic-UI</a>, by
        <a href="https://github.com/semantic-ui-forest">@Semantic-UI-Forest</a>. --}}
      </footer>
    </div>
  </body>
</html>
