<!DOCTYPE html>
<html class=''>

<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/public/css/style.css">
    {{!-- <link rel="stylesheet" href="/public/css/audio-player-style.css"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css" /> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>{{pageTitle}}</title>
</head>

<body id="body">
    
    {{{ body }}}

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
<script src="/public/plugins/tata-master/dist/tata.js "></script>
<script src="/socket.io/socket.io.js "></script>
<!-- <script src="/siofu/client.js"></script> -->
<script src="/public/js/music.js "></script>

</html>