<div id="music-name" style="font-style: italic; font-size: 12px;font-weight: 900;">Select a music to listen to</div>
<form id="music-upload-form" encType="multipart/form-data">
    <input type="file" id="music-to-play" accept="audio/mp3" placeholder="Select a music to play"/>
</form>

<audio id="music">
    <source src="/public/audio/inbox.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<br/>
<p id="total_duration"></p>
<br/>
<div id="music-controller">
    <button class="ui button positive fa fa-play-circle" id="play-button">&nbsp;&nbsp;Play</button>
    <button class="ui button orange fa fa-pause-circle" id="pause-button">&nbsp;&nbsp;Pause</button>
    <button class="ui button negative fa fa-stop-circle" id="stop-button">&nbsp;&nbsp;Stop</button>
</div>