        <div class='chatbox__user-list'>
            <h1>User In The Room</h1>
            <button href="/group/join" id="LeaveRoom">Leave room</button>
            <div id="users-in-room" style="height: 50%;">
                <!-- <div class='chatbox__user--active'>
                    <p>Maelyn Pepe</p>
                </div> -->
            </div>
            <div style="height: 50%;">
                {{> music_player }}
            </div>
            
        </div>